* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

@import "theme.css";

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 8px;
  border-width: 0px;
}

#custom-power,
#idle_inhibitor,
#custom-terminal,
#custom-files,
#custom-browser {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 4px 0px;
  padding: 4px 12px;
  font-size: 14px;
}

#custom-power {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
}

#custom-browser {
  border-radius: 0px 21px 21px 0px;
}

#clock {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  font-weight: bold;
  padding: 4px 16px;
  margin: 4px 9px;
  border-radius: 21px;
}

#cpu,
#temperature,
#memory,
#network,
#bluetooth,
#pulseaudio {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 4px 0px;
  padding: 4px 12px;
}

#cpu {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
}

#pulseaudio {
  border-radius: 0px 21px 21px 0px;
  margin-right: 9px;
}
